# Server
PORT=5400

# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/hotel_db?schema=public"

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_URL="redis://localhost:6379"

# Auth
JWT_SECRET=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Frontend
FRONTEND_URL="http://localhost:3000"